version: "3.9"

services:
  db:
    image: postgres:15
    container_name: united-fc-db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: united-fc
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  flyway:
    image: flyway/flyway:9
    command: -url=jdbc:postgresql://db:5432/united-fc -user=admin -password=admin -locations=filesystem:/migrations migrate
    volumes:
      - ./db/migrations:/migrations
    depends_on:
      - db

  redis:
    image: redis:7
    container_name: united-fc-redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
